<div class="game">
    <div class="list">
        <div *ngFor="let message of messageList">
            <div class="word">
                <ng-container *ngFor="let letter of message">
                    <div class="letter" [ngClass]="{'bg-green': letter.valid == 'success', 'bg-yellow': letter.valid == 'has'}">
                        {{letter.letter | uppercase}}
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <form class="row">
        <input #wordInput autofocus name="word" type="text">
        <button (click)="sendMessage()">Send Message</button>
    </form>
</div>