
<!-- <app-game-menu></app-game-menu> -->
<div id="content">
    <app-header></app-header>

    <div id="content-wrap">
        <router-outlet></router-outlet>
        
        <div class="notify" *ngIf="notifyShow">
            <span [innerHTML]="notifyMessage"></span>
        </div>
        
    </div>
    <footer>
        <app-footer></app-footer>

    </footer>

</div>
 


<!-- <div *ngFor="let message of messageList">
    <ng-container *ngFor="let letter of message">
        <li [ngClass]="{'green': letter.valid == 'success', 'yellow': letter.valid == 'has'}">
            {{letter.letter}}
        </li>  
    </ng-container>

</div>

<input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" />
<button (click)="sendMessage()">Send Message</button> -->

<!-- <button (click)="createRoom()">create room</button> -->